/* <!-- element slector --> */

h1 {
    color: aqua;
    font-size: 3rem;
}
h2 {
    color: blueviolet;
    font-size: larger;
}
p {
    color: brown;
    font-size: small;
}

/* grouping slectors */
/* h1 , h2 , p{
    color: aqua;
    font-size: 3rem;
} */
